img.octocat {
    height: 200px;
    margin: 15px;
    /*border: 1px solid black;*/
    background-color: white;
}
.top-shelf {
    margin: 15px;
    background-color: skyblue;
    display: flex;
    justify-content: space-between;

}
.mid-shelf {
    margin: 15px;
    background-color: plum; 
    display: flex;
    justify-content: space-evenly;
}
.bot-shelf {
    margin: 15px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
h1 {
    color: #474747;
    font-size: 40px;
    font-weight: bold;
}
body {
    background-color: gainsboro;
    text-align: center;
}