* {
    margin: 0px;
    padding: 0px;
    font-family: Balsamiq-sans, Verdana, Geneva, Tahoma, sans-serif;
}
.head-bar-background{
    display: flex;
    width: 100%;
    justify-content: center;
}
.head-bar {
    display: flex;
    background-color: thistle;
    width: 80%;
    padding: 10px 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
.search-box {
    width: 300px;
    height: 20px;
    color:silver;
}
.body-background{
    display: flex;
    width: 100%;
    justify-content: center;
}   
.body-container {
    display: flex;
    width: calc(80% + 40px);
    justify-content: space-between;
}
.main-container{
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
}
.word-single-container {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid black;
}
.word-box {
    padding: 20px;
    text-align:center;
}
.word-definition {
    padding: 20px;
    align-self: center;
}
.sidebar{
    border: 1px solid black;
    margin-left: 20px;
    width: 200px;
    height: 100px;
    padding: 10px;
    overflow: hidden;
}
.btn {
    font-size: 11pt;
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 0px 0px black;
    justify-self: center;
}
.btn-likes {
    font-size: 11pt;
    background-color: peachpuff;
    width: 80px;
} 
.color-blue {
    background-color: steelblue;
    color: white;
    width: 100px;
}
.color-green {
    font-size: 12pt;
    background-color: olivedrab;
    width: 80%;
    margin-top: 15px;
}
/* font */
@font-face {
    font-family: Balsamiq-sans;
    src:url("./Balsamiq_Sans/BalsamiqSans-Regular.ttf");
}